.Graph {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    color: wh;
}

.Graph span,div{
    margin: auto;
}

.dropdownButton:active {
    /* Add your styles here. For example: */
    background-color: #f8f9fa !important;
  }